@charset "utf-8";

body *{
  outline: 1px dotted red;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.cont{
  height: 800px;
}

ul,ol,li{
  list-style: none;
  text-decoration: none;
}
