@charset "utf-8";
@import url(common.css);

.smenu a {
  text-decoration: none;
}

.img {
  height: 30vh;
  width: 80vw;
  margin: 0 auto;
  outline: 1px solid
}

.cont1 {
  background: url(../images/main.jpg) no-repeat;
  padding: 0;
  margin: 0 auto;
}