@charset "utf-8";
@import url(common.css);

.smenu a {
  text-decoration: none;
}

.img {
  height: 30vh;
  width: 80vw;
  margin: 0 auto;
  outline: 1px solid
}

.top {
  background: url(../images/logo-main.gif)no-repeat;
  min-height: 350px;
}

.cont1 {
  background: url(../images/main.jpg) center/cover no-repeat;
  background-size: 100% 100%;
  padding: 0;
  margin: 0 auto;
}



.cont2 {
  height: 504px;
  display: inline;
}

.cont2 li img{
  width: 306px;
  height: 360px;
}

.cont2 ul {
  display: flex;
  justify-content: space-between
}


/* background: url(../images/artist1.jpg) center/cover no-repeat;
  width: 306px;
  height: 360px;

  background: url(../images/artist2.jpg) center/cover no-repeat;
  width: 306px;
  height: 360px; */

