@charset "utf-8";
@import url(common.css);

.smenu a {
  text-decoration: none;
}

.img {
  height: 30vh;
  width: 80vw;
  margin: 0 auto;
  outline: 1px solid
}

.top {
  background: url(../images/logo-main.gif)no-repeat;
}

.cont1 {
  background: url(../images/main.jpg) center/cover no-repeat;
  background-size: 100% 100%;
  width: 1153px;
  height: 558px;
  padding: 0;
  margin: 0 auto;
}

.cont2 {

  background: url(../images/artist1.jpg) center/cover no-repeat;
  width: 306px;
  height: 360px;
}